<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<input #newFood type="text" placeholder="Enter a new food" value="Carrots">

<h3>Default Binding:</h3>
<button (click)="addFood(newFood.value, 1)">Add food</button>
<app-child-default [data]="foods"></app-child-default>

<h3>Immutable Binding:</h3>
<button (click)="addFood(newFood.value, 2)">Add food</button>
<app-child-immutable [data]="foodImmut"></app-child-immutable>

<h3>Observable Binding:</h3>
<button (click)="addFood(newFood.value, 3)">Add food</button>
<app-child-observable [data]="foodObs"></app-child-observable>
